.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.profile-image {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 50%;
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 600px;
}

.profile-field {
    display: flex;
    flex-direction: column;
}

.profile-field label {
    font-weight: bold;
    margin-bottom: 5px;
}

.inputProfile {
    padding: 8px;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #ececec;
}
.inputProfileActive {
  padding: 8px;
    border: 2px solid #000000;
    border-radius: 5px;
}

.profile-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 53%;
}

.cancel-button,
.edit-button,
.confirm-button {
  color: white;
  border: none;
  width: 10rem;
  height: 2.2rem;
  border-radius: 5px;
  font-size: 16px;
}

.cancel-button {
    background-color: #FE3E3E;
}

.cancel-button:hover {
  background-color: #FF0000;
  cursor: pointer;
}

.edit-button {
    background-color: #4573FF;
}

.edit-button:hover {
  background-color: #0033FF;
  cursor: pointer;
}

.confirm-button {
    background-color: #68C34A;
}

.confirm-button:hover {
  background-color: #4CAF50;
  cursor: pointer;
}


/* 
.profile-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .profile-image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .profile-image {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 50%;
  }
  
  .profile-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .input-editable {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    background-color: white;
  }
  
  .input-disabled {
    width: 100%;
    padding: 8px;
    border: none;
    background-color: #f0f0f0;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    color: white;
  }
  
  .cancel-button {
    background-color: red;
  }
  
  .confirm-button {
    background-color: green;
  }
  
  .edit-button {
    background-color: blue;
  }*/
  