.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.profile-image {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 50%;
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 600px;
    
}

.profile-field {
    display: flex;
    flex-direction: column;
}

.profile-field label {
    font-weight: bold;
    margin-bottom: 5px;
}

.inputProfile {
    padding: 8px;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #ececec;
}
.inputProfileActive {
  padding: 8px;
    border: 2px solid #000000;
    border-radius: 5px;
}

.profile-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 53%;
}

.cancel-button,
.edit-button,
.confirm-button {
  color: white;
  border: none;
  width: 10rem;
  height: 2.2rem;
  border-radius: 5px;
  font-size: 16px;
}

.cancel-button {
    background-color: #FE3E3E;
}

.cancel-button:hover {
  background-color: #FF0000;
  cursor: pointer;
}

.edit-button {
    background-color: #4573FF;
}

.edit-button:hover {
  background-color: #0033FF;
  cursor: pointer;
}

.confirm-button {
    background-color: #68C34A;
}

.confirm-button:hover {
  background-color: #4CAF50;
  cursor: pointer;
}


@media (max-width: 768px) {
  .profile-fields {
    grid-template-columns: repeat(1, 1fr);
    
}

.profile-actions{
  gap: 20px;
}
}